body {
  font-family: 'Roboto', sans-serif; /* Cambia 'Roboto' por la fuente que elijas */
  background-color: white;
}


.slogan h1 {
  text-align: center;
}
.slogan img {
  width: 100px;
  height: 100px;
  margin: 30px;
}
.slogan {
  display: flex; /* Flexbox para alinear los elementos */
  align-items: center; /* Centrar verticalmente */
  justify-content: space-between; /* Espaciar el título + eslogan y las redes sociales */
  text-align: center;
}

.slogan .text {
  display: flex; /* Alinea el texto del título y eslogan verticalmente */
  flex-direction: column; /* Alinea en columna (título arriba, eslogan abajo) */
  text-align: center; /* Opcional: alinear el texto a la izquierda */
}

.socials img {
  width: 24px; /* Tamaño de los íconos */
  height: 24px;
  margin: 0 5px; /* Espaciado entre los íconos */
}

.slogan a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Nav container */
nav {
  background-color: #D3D3D3; /* Color de fondo del menú */
  padding: 5px; /* Espaciado interno */ /* Línea inferior */
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Lista no ordenada */
nav ul {
  list-style: none; /* Sin puntos o números */
  display: flex; /* Alinea los elementos en fila */
  justify-content: center; /* Centra el contenido */
  margin: 5; /* Sin margen */
  padding: 0; /* Sin relleno */
}

/* Elementos de lista */
nav ul li {
  margin: 0 30px; /* Espaciado entre los elementos */
}

/* Enlaces */
nav ul li button {
  text-decoration: none; /* Sin subrayado */
  color: #333; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 5px 10px; /* Espaciado interno del enlace */
  transition: background-color 0.3s ease; /* Efecto de transición */
  background-color: #D3D3D3;
  border: none;
  outline: none;
}

/* Efecto hover */
nav ul li button:hover {
  background-color: #eaeaea; /* Fondo gris claro al pasar el mouse */
  border-radius: 5px;
}
