/* En tu archivo CSS */
.container {
    display: grid;
    grid-template-columns: 65% 35%; /* Dos columnas de igual tamaño */
    gap: 30px; /* Espacio entre las columnas */
    background-color: white;
    border-radius: 15px;
    margin: 30px;
  }
  
  .menu {
    grid-column: 1; /* Columna izquierda */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  .carrito {
    grid-column: 2; /* Columna derecha */
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 16px; /* Más espacio interno */
    min-width: 400px; /* Aumenta el tamaño máximo */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .order-item-image {
    border-radius: 8px;
    margin-right: 16px; /* Más espacio entre imagen y texto */
    width: 80px; /* Imagen más grande */
    height: 80px;
    object-fit: cover;
    justify-content: center;

  }
  
  .order-item-content {
    flex: 1;
    text-align: center;
  }
  
  .order-item-name {
    margin: 0;
    font-size: 18px; /* Texto más grande */
    font-weight: bold;
  }
  
  .order-item-quantity {
    margin: 8px 0;
    font-size: 16px; /* Texto más grande */
    color: #555;
  }
  
  .order-item-price {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c;
  }
  .carrito button {
    margin-top: auto; /* Empuja el botón hacia la parte inferior del contenedor */
    width: 100%; /* El botón ocupa todo el ancho */
    padding: 10px 20px; /* Espaciado interno equilibrado */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    color: #333333; /* Texto gris oscuro */
    background-color: #e0e0e0; /* Fondo gris claro */
    border: 2px solid transparent; /* Sin borde visible inicialmente */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Manito al pasar el ratón */
    transition: all 0.3s ease; /* Transición suave para todos los efectos */
}

.carrito button:hover {
    background-color: #b0b0b0; /* Gris medio al pasar el ratón */
    color: #ffffff; /* Texto blanco */
    border-color: #999999; /* Borde gris oscuro */
    transform: scale(1.05); /* Sutil aumento de tamaño */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra gris */
}
